.signIn_link{
    text-decoration: none;
    color: black;
}

.forgotPassword_main{
    display: flex;
    flex-direction: column;
    margin-top : 355px;
    align-items: center;
}

.forgotPassword_main-top{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 4px;
    padding-right: 120px;
}

.forgotPassword-signIn_link{
    text-decoration: none;
    color: white;
}

.forgotPassword_main-top i{
    font-size: 45px;
}

.forgotPassword_main-top_text{
    font-size: 18px;
    padding-right: 20px;
    margin-left:15px;
}

.forgotPassword-input{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-left: 15px;
}

.forgotPassword-input input{
    display: flex;
    align-items: center;
    padding:13px 90px 13px 12px;
    font-family: inherit;
    font-size: 14px;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.forgotPassword_main-input_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.fake_checkButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE2E64;
    border:none;
    border-radius: 50px;
    font-size: 18px;
    color:white;
    padding: 11px 140px 11px 140px;
    opacity: 0.4;
    margin-left:20px;
    margin-bottom:275px;
}

.forgotPassword_main-checkButton button{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #FE2E64;
    border:none;
    border-radius: 50px;
    font-size: 18px;
    color:white;
    padding: 11px 140px 11px 140px;
    opacity: 1.0;
    margin-left:20px;
    margin-bottom:275px;
}